* {
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    margin: 10px;


    width: fit-content;
  }

  form {

  }

  input {

    color:blue
  }

  input:focus {

  }

  #sumbit{
    width: 100px;
    align-self: center;
  }
